.main {
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
}

.background {
   background: url("./image/coding2.jpg") no-repeat center center fixed;
   background-size: cover;
}
.sub-main {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 35%;
    box-shadow: 5px 4px 5px 4px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px;
    background-color: white;
}

.imgs {
    padding-top: 20px;
    justify-content: center;
    display: flex;
}

.container-image {
    background-color: rgb(223, 221, 221);
    border-radius: 150px;
    align-items: center;
    display: flex;
    height: 115px;
    width: 115px;
    justify-content: center;

}

.profile {
    height: 100px;
    width: 100px;
    border-radius: 130px;
}

.email {
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
}

.pass {
    height: 25px;
    width: 25px;
    position: absolute;
    padding:14px 0 0 25px;
}
.inputs {
    padding-left: 70px;
    font-size: 20px;
}

input {
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
}

.second-input {
    padding-top: 20px;
}

a {
    color: blue;
}

button{
    width: 380px;
    height: 50px;
    border-radius: 60px;
    background-color: #c1a4cd;
    color: white;
    font-size: 25px;
    border: none;
}

.link {
    font-size: 25px;
    font-weight: 400;
}

.login-button {
    padding: 25px;
}

